#sunedit-area table {
    width: 100%;
  }
  
  #sunedit-area {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  
  #sunedit-area p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-family: Nunito;
    color: #000000;
    font-weight: 500;
    /* width: 80%; */
    /* margin: 20px auto; */
    box-sizing: border-box;
  }
  
  #sunedit-area img {
    object-fit: cover;
    object-position: 'center';
  }
  
  /* #sunedit-area img:nth-of-type(1) {
    height: 70vh !important;
    object-fit: cover;
  } */
  
  /* .se-image-container img{
    height: 500px;
  } */
  
  @media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
  }
  
  @media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/
    #sunedit-area p {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
  }
  